%footer
  .container
    .first
      %h2 Recent Articles
      %ol.menu.recent
        - blog.articles[0...5].each do |article|
          %li
            = link_to article.title, article.url
            %span= article.date.strftime('%b %e')
    .second
      %h2 Topics
      %ol.menu.topics
        - blog.tags.each do |tag, articles|
          %li 
            = link_to "#{tag} (#{articles.size})", tag_path(tag) 
    .third
      %h2 Featured
      %ol.menu.featured
        %li
          = link_to "Little Drummer Boy", "/blog/2012/10/07/littledrummerboy/"
          %span Oct 7
        %li
          = link_to "Nobody’s Fault But Mine", "/blog/2012/09/24/nobodysfaultbutminetabs/"
          %span Sept 24
        %li
          = link_to "Blitzkrieg Bop", "/blog/2012/10/04/blitzkriegbop/"
          %span Oct 4
        %li
          = link_to "3 String - I III V", "/blog/2012/09/19/3string135tuning/"
          %span Sep 19
        %li
          = link_to "Numeral Cheat Sheet", "/blog/2012/10/07/numeralCheatSheet/"
          %span Oct 7 

  %nav.secondary
    = partial "layouts/partials/main_nav"
