---
title: Gallery
---
%ul.gallery
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
