---
title: Gallery
---
%ul.gallery
  %li
    = image_tag '/gallery/myFirstCBG.jpg'
  %li
    = image_tag '/gallery/myFirstCBG.jpg'
  %li
    = image_tag '/gallery/myFirstCBG.jpg'
  %li
    = image_tag '/gallery/myFirstCBG.jpg'
  %li
    = image_tag '/gallery/myFirstCBG.jpg'
  %li
    = image_tag '/gallery/myFirstCBG.jpg'
