---
title: Gallery
---
%ul.gallery
  %li
    = link_to '1.html' do
      = image_tag '/gallery/img/thumbs/myFirstCBG.jpg'
  %li
    = link_to '2.html' do
      = image_tag '/gallery/img/thumbs/FirstCBG_detail.jpg'
  %li
    = link_to '3.html' do
      = image_tag '/gallery/img/thumbs/FirstCBG_detail2.jpg'
  %li
    = link_to '4.html' do
      = image_tag '/gallery/img/thumbs/Second_wip.jpg'
  %li
    = link_to '5.html' do
      = image_tag '/gallery/img/thumbs/fraggleRockBox.jpg'

